
*{
    font-family: Cambria, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.4em;
    margin:0px;

}
html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}
body{
    height:100%;
}

#wrapper{

    
}

@font-face {
    font-family:"BLANCH-CAPS";
    src: url('BLANCH_CAPS.otf');
    font-style:normal;
    font-weight:100;
}





#logo {
    padding-left: 605px;
    margin-bottom: 20px;
    font-family: "BLANCH-CAPS";
    
    font-size: 105px;
    color: black;
}
#valikko{
    font-size: 20px;
}

.keskitettava{

    padding-left: 230px;
    padding-bottom: 20px;
}



#login_laatikko{


    float: left;
    width:450px;
    height: 550px;
}

h2{
    font-family:"BLANCH-CAPS";
    font-size: 45px;
    color: black;
    margin: 0px;
}
#seuranta{
    margin-left: -180px;
}

#sisalto_container{

    width: auto;
    margin:auto;
}

#sisalto_laatikko{
    min-width:900px;
    max-width: 900px;
    margin-left: 400px;
    padding-top: 25px;
    border: 1px solid;
    border-radius:10px;
    padding-left: 10px;
  
    min-height: 400px;
    max-height:720px;
    overflow:auto;
    background-color:rgba(150,150,150,0.4);

}


.input_nappula{
    border: 1px solid;
    background-color: #F0F8F8;
    border-radius: 5px 5px 5px 5px;
    float:right;
}
.ei_float_input_nappula{
    float:left;
}

.otsikko{
    padding-top: 20px;
    padding-left: 150px;
}

#tabit{

    position:absolute;
    margin-right: 50px;
    float:left;
    width: 300px;
    height:100%;
   

    background-color: rgba(230,230,230,0.2);
}

#tabit a{

    font-size: 45px;
    font-family:"BLANCH-CAPS";
    text-decoration: none;
    color:black;
}
#tabit a:hover{

    color:white;
}

.tab{

}

#kirjaudu_laatikko{

    padding-top: 25px;
    border: 3px solid;
    border-radius:0px 10px 0 ;
    padding-left: 110px;
    height: auto;
    width: 380px;
    min-height: 200px;
    background-color:#fdfdfd;
}


#aikavali_saato{
    border-radius: 10px;
     
    margin: 5px;
    margin-right: 15px;
    padding: 5px;
    width: 720px;

}
#selaa_table{

    margin: 10px;
}
#selaa_table a{

    color: #000;
}
#selaa_table td{

    padding: 20px;
}

#selaa_table tr:nth-child(odd){
    background-color: #fdfdfd;
}
#selaa_table tr:nth-child(even){
    background-color: #dfdfdf;
}
#selaa_table tr:hover{
    background-color: #BAE0A8;
}
option{
    background-color:#F0F8F8;
}

section.hidden{
    display:none;
}

#tilasto_table tr:nth-child(even){

    background-color: rgba(200,200,200,0.9);
}
#tilasto_table tr:nth-child(odd){
    background-color:#dfdfdf;
}

#tilasto_table td{
   
}
.tilasto_laatikko{
    padding: 20px;
    height: 180px;
    margin: 10px;
}


article{

    margin:15px;
    padding: 15px;
    margin-top: 50px;
    border:1px solid;
    background-color: rgba(200,200,200,0.8);
    border-radius: 10px;
}
article:nth-child(even){
    background-color: rgba(200,200,200);
}

.keskitettava_message{
    padding-left: 90px;
}