
*{
    margin:0px;
}

@font-face {
    font-family:"BLANCH-CAPS";
    src: url('BLANCH-CAPS.otf');
    font-style:normal;
    font-weight:100;
}
#logo {
    font-family: "BLANCH-CAPS";
    text-align: center;
    font-size: 105px;
    color: #dfdfdf;
}

body{
    background-image: url('hexabump.png')
}
#login_laatikko{


    float: left;
    width:450px;
    height: 550px;
}

h2{
    margin: 0px;
}

#sisalto_container{
    width: 890px;
    margin: auto;
}
#login_container{

    width: 390px;
    margin: auto;
}
.input{
    border: 2px solid;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;

}
.otsikko{
    padding-top: 20px;
    padding-left: 50px;
}


#tabit a{

    text-decoration: none;
    color: #000;
    border-top: 3px solid;
    margin-bottom: -3px; 
    margin-left: 0px;
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    background-color:#fdfdfd;


}
#tabit a.eka_linkki{
    border-left:3px solid #000;
    border-top: 3px solid #000;
    border-radius: 10px 0 0 0 ;
}
#tabit a.vika_linkki{
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    border-radius: 0 10px 0 0 ;
}
#kirjaudu_nappula{
    float:right;
}
#kirjaudu_laatikko{
    padding-top: 25px;
    border: 3px solid;
    border-radius:0px 10px 0 ;
    padding-left: 110px;
    height: auto;
    width: 380px;
    min-height: 200px;
    background-color:#fdfdfd;
}
#sisalto_laatikko{
    padding-top: 25px;
    border: 3px solid;
    border-radius:0px 10px 0 ;
    padding-left: 10px;
    height: auto;
    min-height: 200px;
    background-color:#fdfdfd;
    margin-bottom: 5px;
}

.tilasto_laatikko{

    height: 180px;


}
#aikavali_saato{
    margin: 5px;
    padding: 5px;

}

